.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 2em;
}
  
.logo {
  height: auto; /* Adjust based on your image */
  width: auto; /* Adjust based on your image */
  /* Add more styling as needed */
}